<div class="product-list">
  <div class="product-list-block">
    <input type="hidden" name="username" [value]="username" />
    <h2>Product List:</h2>
    <table>
      <tr class="table-header">
        <th>Name</th>
        <th>Description</th>
        <th>Inventory</th>
        <th>Category</th>
        <th><!--Action--></th>
      </tr>
      <tr *ngFor="let product of products">
        <td>{{product.name}}</td>
        <td>{{product.display_name}}</td>
        <td class="inventory">{{product.inventory}}</td>
        <td>{{product.cat_id}}</td>
        <td>
            <input type="hidden" [value]="product.pid" />
            <button [disabled]="product.inventory < 5" 
                    [name]="product.name" 
                    (click)="processOrder(username, product.name)">Buy5</button>
        </td>
      </tr>
    </table>
  </div>
</div>
